<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>FakeBank: Trends</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS & Java
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="top_bit">
    <div class="row" style="padding-top: 40px">
      <h1>FakeBank <span style="float:right; font-size: 24px">Logged in as: Kaizen</span></h1>
    </div>
    <div class="row">
      <h5> Accounts | Transfers | Expense Tracker | Messages and Alerts | Self-Service</h5>
      <br>
      <h4>Checking: ${{ balance1 }}</h4>
      <h4>Savings: ${{ balance2 }}</h4>
      <br>
      <h3>Trends</h3>
    </div>
  </div>
  <div class="container" id="chart">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Expense Type</th>
          <th>Graph</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(size) %}
        <tr>
          <td>{{ data[i][0]}}</td>
          <td><canvas id="myChart{{i}}"></canvas></td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    var ctx;
  {% for i in range(size) %}
    ctx = document.getElementById('myChart'+{{i}}).getContext('2d');
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["May", "June", "July", "August", "September", "October", "November"],
        datasets: [{
            label: "Recorded Activity",          
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data[i][1:]|safe }},
        }, 
        {
          label: "Goal",
          borderColor: 'rgb(0, 0, 0)',
          data: [0,0,0,0,30,30,30]
        }]
      },
      options: {}
    });
    console.log({{data[i][1:]|safe}})
  {% endfor %}
  </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
